* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: inter;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

:root {
    --fonte-corpo: Verdana, Geneva, Tahoma, sans-serif;
    --cor-titulo: #E6BD5F;
  }

h1 {
    font-size: 2rem;
    margin-top: 50px;
    font-weight: 700;
    font-family: var(--fonte-corpo);
    color: var(--cor-titulo)
}

#sobreMim {
    /* border: 1px solid; */
    width: 50%;
    line-height: 2;
    margin: 50px;
    padding: 20px;
}

#pontos {
    display: flex;
    justify-content: space-between;
}

#ponto1, #ponto2 {
    /* border: 1px solid; */
    margin: 50px;
    padding: 1rem;
}

p {
    padding: 15px;
    text-align: justify;
}

ul {
    padding-left: 40px;
    line-height: 200%;
}