@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: inter;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

html {
    height: 100%;
}

:root {
    --fonte-corpo: Verdana, Geneva, Tahoma, sans-serif;
    --cor-fundo-destacado: #800A0F;
    --cor-fonte-destacada: #E6BD5F;
  }

header {
    height: 200px;
    text-align: center;
    font-family: var(--fonte-corpo);
}

main {
    min-height: 100vh;
    margin-bottom: 40px;
}


footer {
    padding: 30px;
    height: 50vh;
    background-color: #CC0A0F;
    color: whitesmoke;
    /* position: sticky;
    width: 100%; */
}

nav {
    border-bottom: 1px solid black;
    height: 15vh;
    background-color: var(--cor-fundo-destacado);
}

nav>a:link {
    text-decoration: none;
    padding-left: 25px;
    padding-right: 25px;
    height: 15vh;
    line-height: 15vh;
    display: inline-block;
    font-family: var(--fonte-corpo);
    font-weight: 600;
    color: var(--cor-fonte-destacada);
}

nav>a:hover {
    color: white;
    background-color: #CC0A0F;
}

nav>a:visited {
    color:#FFDAC6;
}

article {
    margin: 15px;
    padding: 15px;
}
