@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: inter;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

:root {
  --fonte-corpo: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 100%;
    text-align: center;
    font-family: var(--fonte-corpo);
}

h1 {
    font-size: 2rem;
    margin-top: 50px;
    font-family: var(--fonte-corpo);
}

main {
    height: 100%;
    /* Mudar para height: 100%; dps */
}


footer {
    padding: 30px;
    height: 50vh;
    background: lightskyblue;
    /* Mudar a cor de fundo dps */
}


nav {
    border-bottom: 1px solid black;
    height: 15vh;
}

nav>a {
    text-decoration: none;
    padding-left: 40px;
    height: 15vh;
    line-height: 15vh;
    display: inline-block;
    font-family: var(--fonte-corpo);
}

article {
    margin: 15px;
    padding: 15px;
}

#sobreMim {
    border: 1px solid;
    width: 50%;
    line-height: 2;
    /* float: left; */
    margin: 50px;
    padding: 20px;
}

#pontos {
    display: flex;
    justify-content: space-between;
}


#ponto1, #ponto2 {
    border: 1px solid;
    margin: 100px;
}


p {
    padding: 15px;
    text-align: justify;
}

ul {
    padding-left: 40px;
    line-height: 200%;
}